target/
!target/armv7-unknown-linux-musleabihf/release/cdu
!target/armv7-unknown-linux-musleabihf/release/hcc
!target/armv7-unknown-linux-musleabihf/release/hcc-pushover
!target/armv7-unknown-linux-musleabihf/release/po
!target/armv7-unknown-linux-musleabihf/release/wfs
!target/x86_64-unknown-linux-musl/release/cdu
!target/x86_64-unknown-linux-musl/release/hcc
!target/x86_64-unknown-linux-musl/release/hcc-pushover
!target/x86_64-unknown-linux-musl/release/po
!target/x86_64-unknown-linux-musl/release/wfs
