<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bk</title>
    <style>
        body {
            font-family: monospace;
            margin: 0 auto;
            max-width: 1024px;
        }
    </style>
</head>
<body>
<h1>bk</h1>
{% for scrape in scrapes %}
    <div>{{ scrape.unwrap_title() }}</div>
    <div><a target="_blank" rel="nofollow" href="{{ scrape.url }}">{{ scrape.url }}</a></div>
    <div>{{ scrape.traits() }}</div>
{% endfor %}
</body>
</html>
